* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #060606;
  color: #fff;
  padding: 25px;
}

.logo img {
  height: 115px;
}

.fa-instagram,
.fa-facebook,
.fa-pinterest {
  font-size: 25px;
}

nav ul {
  list-style: none;
  display: flex;

}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #7c7b77;
}

/* Estilos para la sección del encabezado */
.header-info {
  display: flex;
  align-items: center;
  background-color: #000;
  border-top: 2px solid #fff;
}
.header-info-2{
  background-color: #000;
  border-top: 2px solid #fff
}

.branding {
  flex: 1;
}

.branding h1 {
  margin-top: 0;
  color: #fff;
  font-size: 110px;
  margin: 10px;
  text-align: center;

}

.branding h2 {
  margin: 0 auto;
  max-width: 80%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-image img {
  max-width: 100%;
  height: auto;
}

/* Sobre Nosotros */
.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  height: 300px;
  background-color: #f2f1e8;
}

.about-us {
  align-items: center;
  text-align: center;
}

.about-title h2 {

  margin-bottom: 50px;
  color: #060606;
  text-transform: uppercase;
  font-size: 61px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 100;
}

.about-description p {
  color: #060606;
  margin: 30px;
  padding: 20px;
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 19px;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
}

.contact-button {
  display: block;
  text-align: center;
}

.about-us a {
  display: inline-block;
  background-color: #f2f1e8;
  color: #948b71;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  border: 0.1px solid #948b71;
  text-transform: uppercase;
}

.about-us a:hover {
  background-color: #C2B790;
  color: #fff;
  border: 1px solid #948b71;
}

/* Sección Servicios */
.services {
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
}

.services h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
}

.services-container {
  display: flex;
  justify-content: center;
}

.services-container i {
  font-size: 40px;
  margin: 20px;
  color: grey
}

.services-card {
  width: 30%;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

/* Help Section */
.help-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060606;
}

.help-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.image-container {
  flex: 1;
  margin: 10px;
  justify-content: center;
}

.image-container img {
  max-width: 80%;
  height: auto;
}

.image-container:first-child {
  flex-basis: 60%;
}

/* Acordeon */
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-container h2 {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.accordion-item {
  background-color: #060606;
  color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 21px;
  font-family: 'Times New Roman', Times, serif;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  text-transform: none;
  color: #f2f1e8;
  font-size: 16px;
}

/* Sección Testimonios */
.testimonial {
  background-color: #948b71;
  margin-bottom: 20px;
}

.testimonial h2 {
  text-align: center;
  padding: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 50;
  font-size: 44px;
  font-style: italic;
  color: #fff;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #948b71;
}

.testimonial-card {
  margin: 40px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.testimonial-card p {
  font-style: italic;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.testimonial-card h3 {
  color: #fff;
  font-size: 33px;
  font-weight: 400;
  font-style: italic;
}

.testimonial-card span {
  color: #fff;
}

/* Span de Cotización */
.card {
  background-image: url(./images/fondopalmeras.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  text-align: center;
  color: #fff;
}

.card-content h2 {
  font-size: 59px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  color: #f2f1e8;
  margin-bottom: 10px;
}

.card-content button {
  background-color: #948b71;
  color: #f2f1e8;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.card-content button:hover {
  background-color: #817962;
}

/* Formulario de Contacto */
.contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #060606;
}

.contact-form {
  position: relative;
  flex-grow: 1;
  padding: 0px 48px;
  background-color: #ffffff;
}

.contact-form::before {
  position: absolute;
  content: "";
  top: -96px;
  left: 0;
  width: 100%;
  height: calc(100% + 192px);
  background-color: #ffffff;
  border-radius: 4px;
  z-index: -100;
}

.contact-form .heading {
  margin-bottom: 48px;
}

.contact-form .heading h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #060606;
  font-size: 36px;
}

.contact-form .heading p {
  color: #060606;
  text-align: center;
  font-size: 16px;
}

.contact-form .input {
  position: relative;
  margin-bottom: 24px;
}

.contact-form .input input,
.contact-form .input textarea {
  width: 100%;
  padding: 8px 8px 8px 42px;
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 14px;
}

.contact-form .input i {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #060606;
}

.contact-form .button {
  padding: 12px 36px;
  border: none;
  border-radius: 4px;
  background-color: #060606;
  box-shadow: inset 0 -2px 4px 0 #060606;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.contact-form .button:active {
  box-shadow: inset 0 0 4px 2px #948B71;
}

.contact-info {
  padding: 76px 20px;
  color: #e4e4e7;
}

.contact-info .heading {
  margin-bottom: 48px;
  font-size: 24px;
}

.contact-info .contacts li {
  padding-left: 24px;
  margin-bottom: 32px;
  font-size: 14px;
}

.contact-info .contacts li i {
  width: 24px;
  padding-right: 12px;
}

.contact-logo {
  position: relative;
  padding: 24px 32px 40px 32px;
}

.contact-logo::after {
  position: absolute;
  top: 64px;
  left: 32px;
  font-size: 14px;
  color: #e4e4e7;
}


/* Footer */
footer {
  background-color: #f2f1e8;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer nav li {
  margin-right: 20px;
}

footer nav a {
  color: #e0b784;
  text-decoration: none;
  font-size: 16px;
}

footer nav a:hover {
  color: #7c7b77;
}

.social-icons {
  margin: 20px 0;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-size: 24px;
}

.social-icons a:hover {
  color: #7c7b77;
}

.copyright {
  margin: 0;
  font-size: 14px;
  color: #e0b784;
}

/* Mediaqueries */

/* Mediaquerie Contact Form */
@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    margin: 0;
  }

  .contact-form {
    padding: 96px 48px;
  }
}

/* Mediaquerie header */
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1em;
  }

  nav {
    margin-top: 1em;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    margin-bottom: 0.5em;
  }

  .fa-brands {
    font-size: 1.5em;
  }

  .header-info {
    flex-direction: column;
  }

  .header-image {
    margin-top: 1em;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .branding {
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }
}
/* Mediaquerie About Us */
@media screen and (max-width: 1024px) {
  .about-us {
      padding: 2em;
  }

  .about-title {
      text-align: center;
  }

  h2 {
      font-size: 2em;
  }

  .about-description {
      text-align: center;
      margin-top: 1em;
  }

  p {
      font-size: 1.2em;
  }

  .contact-button {
      display: block;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding: 0.5em 1em;
  }
}
@media screen and (max-width: 425px){

}

